meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Orientar comunidades
meta(meta name="description" content="La última fase y la más importante de la educación y promotoría ambiental se relaciona directamente con el proceso de orientación de las comunidades, desde la etapa preliminar donde se recoge información hasta la etapa final que es hacer seguimiento y control de las acciones tomadas por la comunidad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")