h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li 
                span Orientar a las comunidades de los procedimientos técnicos teniendo en cuenta lineamientos didácticos.