.container#introduccion
    
    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 Reflexión
        p.txt-deco1 Las estrategias que se utilizan para sensibilización y educación a comunidades son variadas, sin embargo, de estas depende la participación de una comunidad en un proyecto, los grupos que se puedan llegar a formar y los mecanismos de participación que tendrán. Es de vital importancia dar a conocer los proyectos para que la comunidad tome la mejor decisión. A partir de esto usted deberá visualizar el siguiente caso de estudio y a manera de reflexión personal analizar las preguntas.
        img(src="assets/images/pages/ilustraciones/img1.png").img-fluid.img-a
        .row.justify-content-center
            .col-11.p-4.rounded.bg-color1
                p.txt-deco1 #[b Estudio de caso:]
                p.txt-deco1.mb-4 Usted es un funcionario de la alcaldía municipal y se evidencia que los principales gastos que tiene el municipio son recolección de residuos sólidos, consumo de agua y consumo de energía, para ello envía una carta a cada hogar solicitando a las personas un mayor apoyo en temas de ahorro de agua, ahorro de energía, reciclaje y separación de residuos. Sin embargo, los resultados no se evidencian. Después de varios días se decide ir a visitar la zona preguntando las razones por las cuales han hecho caso omiso a las cartas y se evidencia que la población en su gran mayoría es analfabeta.
                img(src="assets/images/pages/ilustraciones/img2.png").img-fluid