.container#manejo

    .jumbotron.bg-white.shadow.mt-6
        p.txt-deco1 Para comprender cuales son los actores sociales que intervienen en los procesos de educación ambiental lo invitamos a ver el siguiente video animado.
        .row.justify-content-center.mt-5.mb-6
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/X5lLbOHw2Rw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored.mt-0
            h1 1. Manejo de actores sociales
        img(src="assets/images/pages/ilustraciones/img3.png").img-fluid.img-a
        p.txt-deco1 De acuerdo con la Corporación Autónoma Regional de Cundinamarca (CAR) (2014), en su documento guía metodológica y pedagógica como soporte del proceso de educación ambiental, se encuentran los diferentes actores sociales, que son aquellos que se consideran responsables del empoderamiento en sus comunidades y entornos locales, encargados de dirigir y organizar campañas o estrategias ambientales.
        p.txt-deco1.mb-6 Generalmente son grupos compuestos principalmente por los tomadores de decisiones municipales como los Comités Interinstitucionales De Educación Ambiental (CIDEAS), las empresas de servicios públicos, los acueductos municipales o veredales, y los dinamizadores ambientales seleccionados y capacitados previamente por los líderes del proceso, que pueden pertenecer por ejemplo al SENA, a la comunidad educativa, a los jóvenes pregoneros responsables de formar y acompañar el proceso implementado por los niños y los hogares, y quienes posteriormente gestionan el conocimiento para que otros usuarios lo repliquen; y el grupo conformado por los niños defensores del recurso natural a trabajar, que implementará el proceso en cada uno de sus hogares (CAR, 2014, p.17).
        .hr2
        #11
        .header-ecored.mt-0
            h2 1.1 Actores sociales
        p.txt-deco1 De acuerdo con la CAR (2014), en su documento guía metodológica y pedagógica, los actores sociales serán la base y el eje dinamizador para el desarrollo eficiente e integral en cada una de las etapas de planeación, ejecución, seguimiento, monitoreo y evaluación, mejoramiento y continuidad, de acuerdo con los roles definidos (p.27).
        p.txt-deco1 Dentro de los actores sociales que participan en el proceso educativo se encuentra:
        .row.justify-content-around
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #8ACD9D;")
                img(src="assets/images/pages/ilustraciones/img4.png").img-fluid.img-a
                p.text-white #[b El líder del proceso]
                p.text-white Es quien orienta cada una de las etapas. Tiene como función principal organizar y orientar el proceso educativo. En este rol se encuentran ubicados los representantes de acueductos y todos aquellos tomadores de decisiones en la gestión integral del recurso hídrico.
                p.text-white.mb-0 El líder debe ser el orientador y organizador del proceso, debe propender por el logro de los resultados e impacto esperado, y determinar las estrategias para su difusión y réplica en la totalidad de los usuarios del servicio de acueducto. De este modo, una de las tareas iniciales es invitar y vincular a todos los actores institucionales y sociales para abordar y planificar acciones, lo cual permitirá contar con una visión compartida que los motive a alcanzar niveles cada vez mayores de eficiencia (CAR, 2014. p.27).
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #A8D9B7;")
                img(src="assets/images/pages/ilustraciones/img5.png").img-fluid.img-a
                p.text-white #[b El dinamizador]
                p.text-white tiene como función principal formar, acompañar y multiplicar el proceso en los hogares de los usuarios del servicio de acueducto, participando en las etapas de ejecución y evaluación de resultados. Para la selección de los dinamizadores se debe tener en cuenta:
                p.text-white.mb-0 El grupo de dinamizadores puede estar conformado por representantes de acueducto, docentes y/ o estudiantes de las instituciones educativas o universidades, al igual que por usuarios del acueducto que quieran participar, y que sean previamente seleccionados por la empresa de servicios públicos. Deben tener conocimiento previo en temas ambientales. De este grupo pueden formar parte estudiantes de universidades o practicantes del SENA, grupos organizados de jóvenes ambientales, o grupos formados por la CAR, entre otros (CAR, 2014. p.28).
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #B5C4E7;")
                img(src="assets/images/pages/ilustraciones/img6.png").img-fluid.img-a
                p.text-white #[b Los jóvenes pregoneros ambientales]
                p.text-white.mb-0 Pueden ser jóvenes entre 13 y 17 años, líderes ambientales de las instituciones educativas y tienen como función principal acompañar, guiar y apadrinar a los niños y hogares donde se implemente el proceso de educación ambiental (CAR, 2014. p.30).
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #8EA4D8;")
                img(src="assets/images/pages/ilustraciones/img7.png").img-fluid.img-a
                p.text-white #[b Los niños defensores y los miembros de su familia]
                p.text-white Un niño defensor del ambiente es un líder infantil que promueve en los compañeros de su escuela, en los miembros de su familia y con sus vecinos el cuidado y la protección del agua, la fauna, la flora, el suelo y todo su entorno.
                p.text-white.mb-0 Se diferencia de otros porque posee valores marcados como el respeto, la responsabilidad y el compromiso frente a todas las acciones que se le asignan. Se caracteriza por demostrar habilidades sobresalientes para el aprendizaje y un interés notable frente al conocimiento ambiental de su contexto (CAR, 2014. p.30).
        .row.mt-6
            .col-12
                p.txt-deco2 #[b 1.1.1 Actores claves]
                p.txt-deco1 De acuerdo con Zamalloa, E y Diaz, J (2005) en su manual 5, guías metodológicas para la gestión ambiental dentro de los actores se pueden encontrar actores claves como:
                img(src="assets/images/pages/ilustraciones/img8.png").img-fluid.img-a
                p.txt-deco2.mt-6 #[b 1.1.2 Actores territoriales]
                p.txt-deco1 Es importante aclarar que a nivel territorial existe también una clasificación de actores que deben ser conocidos, analizados e identificados, dentro de los cuales se puede destacar de acuerdo con Nuñez, L (s.f), en su documento sostenibilidad y actores sociales, en la protección del medio ambiente:
                img(src="assets/images/pages/ilustraciones/img9.png").img-fluid.img-a
        p.txt-deco1.mb-6.bg-color2 No existe una sola clasificación de actores sociales, esta puede crearse en el momento de la interpretación del territorio.
        .hr2
        #12
        .header-ecored.mt-0
            h2 1.2 Elementos pedagógicos
        img(src="assets/images/pages/ilustraciones/img10.png").img-fluid.img-a
        p.txt-deco1.mb-6 Son todas las condiciones y programas; planeaciones, estrategias didácticas activas, experiencias pedagógicas y administrativas, evidencias de conocimiento, entre otras, que se integran para desarrollar una temática.
        .hr2
        #13
        .header-ecored.mt-0
            h2 1.3 Estrategias didácticas activas
        img(src="assets/images/pages/ilustraciones/img11.png").img-fluid.img-a
        p.txt-deco1 De acuerdo con Martínez M. y Ciudad-Real, G en su Manual de Estrategias Didácticas Activas (2013) el concepto de estrategias didácticas fue expuesto por Velasco y Mosquera (s.f) en su documento Estrategias Didácticas para el Aprendizaje Colaborativo PAIEP. Allí se define la estrategia didáctica activa como la selección de actividades y prácticas pedagógicas en diferentes momentos formativos, métodos y recursos en los procesos de enseñanza y aprendizaje.
        p.txt-deco1 Así mismo, el manual de estrategias didácticas activas (s.f) manifiesta que las estrategias didácticas contemplan las estrategias de aprendizaje y enseñanza. Por esto, las estrategias de aprendizaje consisten en un procedimiento o conjunto de pasos o habilidades que un estudiante adquiere y emplea de forma intencional como instrumento flexible para aprender significativamente y solucionar problemas y demandas académicas. Por su parte, las estrategias de enseñanza son todas aquellas ayudas planteadas por el docente, que se proporcionan al estudiante para facilitar un procesamiento más profundo de la información.
        p.txt-deco1 Te invitamos a conocer el manual de estrategias didácticas.
        .imgTopBar.mt-5.mb-6
            .row.align-items-center
                .col-1.text-right
                    img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                .col-8.mb-3.mb-md-0
                    p.p1.mb-0 Martínez M. y Ciudad-Real, G. (2013).
                    p.mb-0 Manual de estrategias didácticas.
                .col-auto.imgTopBarButton.shadow
                    a(href="media/documentos/Anexo1.pdf", target="_blank").imgTopBar_link 
                        .row 
                            .col-auto                   
                                p.d-inline(style="margin-right:10px") Ver PDF
        .hr2
        #14
        .header-ecored.mt-0
            h2 1.4 Estrategias de comprensión oral
        img(src="assets/images/pages/ilustraciones/img12.png").img-fluid.img-a
        #accordionExample.accordion.py-5
            .card
                #heading1.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
                            h2.mb-0.collapsable-title 1.4.1 Método de entrevista y comunicación oral
                #collapse1.collapse.show(aria-labelledby='heading1', data-parent='#accordionExample')
                    .card-body
                        .row
                            .col-12
                                p.txt-deco1 En este caso se busca triangular o recolectar información desde los diferentes puntos de vista representativos de los diferentes actores involucrados, específicamente sobre una problemática, usualmente son entrevistas semi-estructuradas, que pueden ser usadas en cualquier fase del proyecto de educación ambiental, sin embargo, esta estrategia puede estar inmersa dentro de otras metodologías, no es exclusiva ni limitante (Geifuls F., 2009, p.13).
                                img(src="assets/images/pages/ilustraciones/img13.png").img-fluid.img-a
            .card
                #heading2.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
                            h2.mb-0.collapsable-title 1.4.2 Diálogo semi-estructurado
                #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12
                                p.txt-deco1 En esta estrategia de acuerdo con Geifuls F., (2009), se busca: recolectar información general o específica mediante diálogos con individuos (informantes clave), grupos familiares (familias representativas) o grupos enfocados. La técnica de diálogo semi-estructurado busca evitar algunos de los efectos negativos de los cuestionarios formales, como son: Temas cerrados (no hay posibilidad de explorar otros temas), falta de diálogo, falta de adecuación a las percepciones de las personas. Su aplicación es muy amplia: estudios sociales generales, estudios específicos, estudios de caso, comprobación de información de otras fuentes, etc. (p.25).
                                p.txt-deco1 La diferencia entre un diálogo y una entrevista es que en el primero se busca un intercambio y la fluidez de este, lo que puede generar mayor indagación, aunque no esté planeado.
                                p.txt-deco1Para llevarlo a cabo se debe tener en cuenta:
                                .list.align-items-star.pl-4.mt-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Establecer los puntos fundamentales que se quiere aclarar. Estos temas (no son preguntas) van a servir de guía para recordarse de los temas (pueden anotarlas si es posible).
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Determinar cómo se va a hacer la selección de las personas y/o grupos a entrevistar. La selección es muy importante para evitar al máximo los sesgos.
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Realización de las charlas.
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Analizar los resultados.
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 La información obtenida debe ser comparada con otras fuentes: otras entrevistas, resultados de otros ejercicios sobre el mismo tema. Esto es la triangulación.
                                img(src="assets/images/pages/ilustraciones/img14.png").img-fluid.img-a
            .card
                #heading3.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3')
                            h2.mb-0.collapsable-title 1.4.3 Diálogo con informantes claves
                #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12
                                p.txt-deco1 No es un método participativo propiamente dicho, pero puede ser imprescindible para preparar ejercicios de grupo con la comunidad, antes de la intervención, y también para completar otros ejercicios o chequear ciertas informaciones: dialogando con personas bien informadas sobre la comunidad, se puede obtener, en forma rápida, informaciones pertinentes para orientar el trabajo. La buena selección de los informantes es fundamental para la validez de la información.
                                p.txt-deco1 Algunos ejemplos de aplicación:
                                .list.align-items-star.pl-4.mt-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Cuando se necesita comprender las razones fundamentales de tal comportamiento de la gente.
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Cuando se necesita comprobar hipótesis o propuestas para averiguar rápidamente si son conformes a la realidad y a los deseos de la gente.
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Para obtener una visión general de las condiciones socio-económicas y de producción en la comunidad.
                                .list.align-items-star.pl-4
                                    .list__item
                                        .list__item__icon
                                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                    .list__txt
                                        p.txt-deco1 Para evaluar la factibilidad de sugerencias prácticas (Geifuls F., 2009, p.28).
                                img(src="assets/images/pages/ilustraciones/img15.png").img-fluid.img-a
            .card
                #heading4.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='true', aria-controls='collapse4')
                            h2.mb-0.collapsable-title 1.4.4 Diálogo con miembros del hogar 
                #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12
                                p.txt-deco1 De acuerdo con Geifuls F., (2009) se usa para obtener información pertinente, en forma rápida, trabajando con todos los miembros activos de un grupo familiar. Es una aplicación grupal de la técnica de diálogo semi-estructurado.
                                p.txt-deco1 Algunos ejemplos de aplicación:
                                img(src="assets/images/pages/ilustraciones/img16.png").img-fluid.img-a
            .card
                #heading5.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='true', aria-controls='collapse5')
                            h2.mb-0.collapsable-title 1.4.5 Diálogo con grupos de trabajo
                #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12
                                p.txt-deco1 De acuerdo con Geifuls F., (2009) obtener información pertinente, en forma rápida, trabajando con un grupo reducido de gente directamente involucrada en la problemática estudiada. Es una aplicación grupal de la técnica de diálogo semi-estructurado.
                                p.txt-deco1 Algunos ejemplos de aplicación:
                                img(src="assets/images/pages/ilustraciones/img17.png").img-fluid.img-a
            .card
                #heading6.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='true', aria-controls='collapse6')
                            h2.mb-0.collapsable-title 1.4.6 Grupos focales
                #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                    .card-body
                        .row.justify-content-center
                            .col-12
                                p.txt-deco1 Teniendo en cuenta a Zabaleta, Y (2005), los grupos focales son un método efectivo de recolección de información cualitativa, en el cual uno o dos investigadores y varios participantes se reúnen una una sesión grupal para discutir en torno a un tema, las sesiones generalmente son videograbadas para facilitar el análisis posterior de la información. Además, están dirigidas por un moderador y un relator, que conducen la discusión con los participantes a través de preguntas abiertas, es decir, preguntas que detonan reflexiones que van más allá de un “sí” o un “no”.
                                img(src="assets/images/pages/ilustraciones/img18.png").img-fluid.img-a
        .imgTopBar.mt-5.mb-4
            .row.align-items-center
                .col-1.text-right
                    img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                .col-8.mb-3.mb-md-0
                    p.p1.mb-0 Para ampliar la información sobre las estrategias se puede consultar el siguiente documento:
                    p.mb-0 Geilfus, F. (2009). 80 herramientas para el desarrollo participativo: diagnóstico, planificación, monitoreo, evaluación. ISBN 13: 99923-7727-5. San José, Costa Rica.
                .col-auto.imgTopBarButton.shadow
                    a(href="media/documentos/Anexo2.pdf", target="_blank").imgTopBar_link 
                        .row 
                            .col-auto                   
                                p.d-inline(style="margin-right:10px") Ver PDF
        p.txt-deco1.mb-6 Comprender lo que abarca la comunicación ambiental puede ser algo complejo debido a que se deben tener en cuenta diferentes campos, los consultores educativos ambientales en su documento plan de comunicación ambiental para la conservación de los arrecifes de coral de Puerto Rico manifiestan que establecer una definición del concepto comunicación ambiental es difícil precisamente debido a la amplitud de su alcance y a las múltiples facetas que incluye, pero, contenido en esos elementos está el objetivo principal de fomentar, en los ciudadanos, el entendimiento de los procesos que ocurren en la naturaleza.
        .hr2
        #15
        .header-ecored.mt-0
            h2 1.5 Metodologías de comunicación ambiental
        img(src="assets/images/pages/ilustraciones/img19.png").img-fluid.img-a
        p.txt-deco1 Basados en los estudios de Pillmann definen a la comunicación ambiental como cualquier flujo de información, ambientalmente relevante, que involucra tanto comunicadores como audiencias y se logra mediante entrega de mensajes efectivos y recepción interactiva (p.6).
        p.txt-deco2.mt-5 #[b Canales de comunicación]
        p.txt-deco1 Se deben establecer diferentes canales de comunicación que son los medios a través de los cuales el ciudadano se enterara de las diferentes temáticas ambientales que se quieran divulgar, entre otros se encuentran:
        .row.mt-2.justify-content-around.mb-6
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #4463AA;")
                img(src="assets/images/pages/ilustraciones/img20.png").img-fluid.img-a
                p.text-white #[b 1.5.1 Carteles]
                p.text-white Deben presentar la información con ilustraciones de alta calidad, utilizando el mínimo de texto necesario y tanto el formato como el tamaño deben ser adecuados para el usuario.
                p.text-white.mb-0 Estos son instrumentos excelentes para resumir reglamentos, recomendaciones para conservación, códigos de conducta. Es importante seleccionar lugares y condiciones estratégicas para la exposición y colocación de carteles ya que hay diferentes lugares que prohíben este tipo de canal de comunicación, adicional a esto se debe tener en cuenta en la planificación el diseño de colores, materiales, formas, etc.
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #4463AA;")
                img(src="assets/images/pages/ilustraciones/img21.png").img-fluid.img-a
                p.text-white #[b 1.5.2 Billboards]
                p.text-white Los carteles para anuncios (billboards) son mensajes pertinentes e importantes sobre los temas ambientales, pueden ser muy efectivos para llegar al público en general.
                p.text-white.mb-0 El lugar de exposición efectiva puede ser los aeropuertos, edificios importantes de la ciudad, vías principales o espacios costeros. Este es un producto costoso y se debe tener esto en cuenta para su empleo.
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #899DCA;")
                img(src="assets/images/pages/ilustraciones/img22.png").img-fluid.img-a
                p.text-white #[b 1.5.3 Medios tradicionales]
                p.text-white Los medios tradicionales de comunicación masiva, en los que se incluyen radio, televisión, periódicos y cine, son estrategias efectivas para comunicarse con el público en general. Tienen un gran reconocimiento debido a que es la estrategia que se ha utilizado ampliamente durante muchos años.
            .col-12.col-lg-5.p-4.mt-4.rounded(style="background-color: #6C85BC;")
                img(src="assets/images/pages/ilustraciones/img23.png").img-fluid.img-a
                p.text-white #[b 1.5.4 Internet]
                p.text-white Internet representa, en este momento, una estrategia muy efectiva para establecer comunicación con el público y promover la conservación de arrecifes de coral. Además de la página oficial de la idea que se quiera comunicar, existe la posibilidad de abrir redes sociales: Facebook, Twitter, Instagram, blogs, YouTube, TikTok, entre otras, mediante las cuales la información pertinente se disemina más rápido y con mayor amplitud.
        .hr2
        #16
        .header-ecored.mt-0
            h2 1.6 Metodologías de sensibilización en comunidades
        p.txt-deco1 En el proceso de trabajo con comunidades el momento de sensibilización a las personas es elemental para garantizar, no solo que las bases del proyecto se encuentran cimentadas, sino que a su vez el proceso de transformación requerido alcance la meta propuesta.
        p.txt-deco1 De acuerdo a Castro, P., Mendoza, S y Castro, L (2007),  en su documento estrategia educación ambiental para el conocimiento, el uso  y la conservación de la biodiversidad en Colombia, del Instituto de investigaciones de recursos biológicos Alexander von Humboldt, la sensibilización es un proceso que debe darse desde el primer momento con la comunidad y debe mantenerse en todo el proceso de educación ambiental, en otras palabras, desde esa etapa se hace referencia al descubrimiento de la realidad que se quiere transformar (diagnóstico); al descubrimiento de los actores, con sus fortalezas, debilidades, competencias y responsabilidades; y al establecimiento del proceso que se va a emprender (p.25).
        img(src="assets/images/pages/ilustraciones/img24.png").img-fluid.img-a
        p.txt-deco1 De acuerdo con el sumario sensibilización ambiental de la red de autoridades ambientales, el objetivo de la sensibilización es implicar a los ciudadanos en las actividades ambientales y modificar sus comportamientos mediante la capacitación para la sostenibilidad ambiental.
        p.txt-deco1 Para este eje se prevén dos medidas específicas:
        img(src="assets/images/pages/ilustraciones/img25.png").img-fluid.img-a
        .row.pt-5
            .col-12
                p.txt-deco2 #[b 1.6.1 Importancia de la sensibilización ambiental]
                p.txt-deco1 Si bien es muy importante la responsabilidad que deben asumir las instituciones en la protección y mejora del medio ambiente, es también muy necesaria la labor que la sociedad puede realizar. Y en este sentido, el primer paso para conseguir desarrollar en el ciudadano conductas respetuosas con el medio ambiente es dar a conocer la situación actual del problema, facilitando información sobre las contribuciones a la preservación del medio ambiente desde la responsabilidad compartida, es decir sensibilizar la ciudadanía. 
                p.txt-deco1 El consumo racional de los recursos naturales pasa por una concienciación previa, que ayuda a cambiar las pautas de comportamiento entre la ciudadanía; y por la asimilación de un medio ambiente que nos concierne a todos, y que afecta a todos los sectores profesionales.
                p.txt-deco1 Además de un conocimiento general de los problemas ambientales a los que se enfrenta nuestra sociedad, la sensibilización apuesta por la creciente necesidad para que el trabajador conozca los riesgos y los impactos que el desempeño de su profesión tiene sobre el medio, así como la forma de minimizar dichos impactos a través de buenas prácticas ambientales en las diferentes familias profesionales (p.2).
                img(src="assets/images/pages/ilustraciones/img26.png").img-fluid.img-a
                p.txt-deco2.pt-5 #[b 1.6.2 Estrategias de sensibilización]
                p.txt-deco1 Las estrategias de sensibilización deben abordar diferentes temáticas tales como concepto de medio ambiente, problemas ambientales a escala global, cambio climático, la acidificación y contaminación del suelo y del agua, la pérdida de biodiversidad y la deforestación y desertificación entre otros. 
                p.txt-deco1 Seguido a esto se relacionan los problemas ambientales de la sociedad actual con el desarrollo de las ciudades, se describe la actuación que las administraciones públicas tienen, las funciones de autoridades ambientales, ministerios y otras instituciones relacionadas con el medio ambiente, así como el papel de la sociedad en dichos problemas ambientales.
                p.txt-deco1 La red de autoridades ambientales en el sumario de sensibilización ambiental propone de igual manera diferentes estrategias de sensibilización de acuerdo con los niveles que se quieran llegar, desde un nivel amplio a un nivel específico. Se tienen las siguientes estrategias:
                .row.mt-5.justify-content-center
                    .col-10
                        .row.p-4.rounded(style="background-color: #4463AA;")
                            .col-1.text-center
                                img(src="assets/images/pages/ilustraciones/img27.png").img-fluid
                            .col-11
                                p.text-white #[b Desarrollo de un módulo de sensibilización ambiental general]
                                .hr
                                p.text-white.mt-4 Debe contener información básica, de fácil comprensión y contar con integración en todos los programas de formación ocupacional, es decir, agricultura, industria, energía, transportes y turismo, así como para el sector de la pesca y la acuicultura. En este desarrollo se deben tener en cuenta también todos los niveles educativos.
                    .col-10.mt-4
                        .row.p-4.rounded(style="background-color: #4463AA;")
                            .col-1.text-center
                                img(src="assets/images/pages/ilustraciones/img28.png").img-fluid
                            .col-11
                                p.text-white #[b Elaboración de módulos de sensibilización específicos]
                                .hr
                                p.text-white.mt-4 Para las áreas específicas de medio ambiente tales como residuos, aguas, contaminación atmosférica, biodiversidad, medio marino, etc. En este nivel se puede utilizar un lenguaje técnico manteniendo la comprensión del lector común.
                    .col-10.mt-4
                        .row.p-4.rounded(style="background-color: #4463AA;")
                            .col-1.text-center
                                img(src="assets/images/pages/ilustraciones/img29.png").img-fluid
                            .col-11
                                p.text-white #[b Desarrollo de acciones de apoyo al empleo en el ámbito del medio ambiente]
                                .hr
                                p.text-white.mt-4 Trabajo directo con profesionales ambientales, promotores ambientales y personal relacionado.