.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Comunicación ambiental:
            | cualquier flujo de información, ambientalmente relevante, involucra tanto comunicadores como audiencias y se logra mediante entrega de mensajes efectivos y recepción interactiva. Geilfus, F. (2009).
        p
            strong.mr-2 Consejos territoriales de participación ciudadana:
            | en los niveles departamental, distrital y municipal (específicamente en los de categorías primera, segunda y especial) funcionan los Consejos Territoriales de Participación Ciudadana, los cuales se encargan, junto con las autoridades territoriales, de la política pública de participación ciudadana en sus territorios en articulación con el Consejo Nacional de Participación. Sus miembros son quienes ejerzan funciones equivalentes a las de los miembros señalados para el Consejo Nacional de Participación Ciudadana a nivel departamental, distrital o municipal (Ministerio del interior, s.f).
        p 
            strong.mr-2 Consultas populares de origen ciudadano:
            | es un mecanismo de participación ciudadana donde se pone en consideración a los votantes un tema de trascendencia nacional, departamental, municipal, distrital o local. Con este es la ciudadanía la que, contestando Si o No a una pregunta de carácter general, termina decidiendo si la decisión es conveniente o no para la comunidad (Ministerio del interior, s.f).
        p 
            strong.mr-2 Estrategia didáctica activa:
            | selección de actividades y prácticas pedagógicas en diferentes momentos formativos, métodos y recursos en los procesos de enseñanza y aprendizaje. Manual de Estrategias Didácticas Activas (2013)
        p 
            strong.mr-2 Monitoreo:
            | examen continuo de los procesos y la generación de productos de un programa durante la ejecución del mismo. Ministerio de Salud y protección social (2016)