.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Geilfus, F. (2009). 80 herramientas para el desarrollo participativo: diagnóstico, planificación, monitoreo, evaluación. ISBN13: 99923-7727-5. San José, Costa Rica.
                    td Pdf
                    td 
                        a(href="http://ejoventut.gencat.cat/permalink/aac2bb0c-2a0c-11e4-bcfe-005056924a59", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Martínez M. y Ciudad-Real, G. (2013) Manual de estrategias didácticas.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1Dsb11mdFa8aONH_1a9TGKGNkSOR5haFA/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía actores clave.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1mi2NRIz5WJTk4aqVto95idivoaiSyX22/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía diálogo semi-estructurado.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1XjrABuAXftpP5aKsAkV-PwUZ1Nopzr3V/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía procesos de participación comunitaria.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1Mf32RTIkhIVE4VDUoxFpwBZ1t4CkSpQs/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Tabla de relación de procesos de participación ciudadana.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1C83j20tDDV2FEB8tUQQmB44dRtGK_fjq/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía de principios de participación ciudadana.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1Dlhcxh5h1r5JuQl_hrsLNf8zLS0Yw-Mm/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía indicadora de desempeño.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1AQtgdEfE-ve1LW0eKTd8LJvIEch9bLis/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía indicadores.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1id6f33QW0ky2z-CPGnrrT7pvPygUcZOt/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar