include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Castro, P., Mendoza, S y Castor, L. (2007).  Estrategia educación ambiental para el conocimiento, el uso  y la conservación de la biodiversidad en Colombia. Instituto de investigaciones de recursos biológicos Alexander von Humboldt.", "http://siar.minam.gob.pe/puno/documentos/estrategia-educacion-ambiental-conocimiento-uso-sostenible")

        +referenciaItem("CEPAL (2010). Lineamientos metodológicos para la construcción de indicadores de desempeño.", "https://www.cepal.org/ilpes/noticias/paginas/9/38459/Indicadores_Costa_Rica_febrero_2010-CEPAL.pdf")

        +referenciaItem("Conferencia Iberoamericana de Ministros de Administración Pública y Reforma del Estado Lisboa. Carta Iberoamericana de Participación Ciudadana en la Gestión Pública. (2009). Portugal.", "https://observatorioserviciospublicos.gob.do/baselegal/carta_iberoamericana_de_participaci%C3%B3n_ciudadana.pdf")

        +referenciaItem("Consultores Educativos Ambientales (CEA) (2014). Plan de comunicación ambiental para la conservación de los arrecifes de coral de Puerto Rico.", "http://drna.pr.gov/wp-content/uploads/2017/06/Plan-de-Comunicaci%C3%B3n-Ambiental-para-la-Conservaci%C3%B3n-de-los-Arrecifes-de-Coral-de-Puerto-Rico.pdf")

        +referenciaItem("Corporación Autónoma Regional de Cundinamarca (CAR). (2014). Guía metodológica y pedagógica como soporte del proceso de educación ambiental.", "http://sie.car.gov.co/bitstream/handle/20.500.11786/35887/28290.pdf?sequence=1&isAllowed=y")

        +referenciaItem("Geilfus, F. (2009). 80 herramientas para el desarrollo participativo: diagnóstico, planificación, monitoreo, evaluación. ISBN 13: 99923-7727-5. San José, Costa Rica.", "http://ejoventut.gencat.cat/permalink/aac2bb0c-2a0c-11e4-bcfe-005056924a59")

        +referenciaItem("Instituto Distrital de la Participación y Acción Comunal (IDIPAC). (2007).", "https://participacionbogota.gov.co/mecanismos-participacion-ciudadana")

        +referenciaItem("Martínez M. y Ciudad-Real, G. (2013) Manual de Estrategias Didácticas Activas.", "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjP292r16XrAhVsx1kKHfixCAQQFjAAegQIARAB&url=https%3A%2F%2Fwww.orientacionandujar.es%2Fwp-content%2Fuploads%2F2015%2F03%2FManual-estrategias-didacticas.pdf&usg=AOvVaw3STa_5TlRI4TsVCGsoKotF")

        +referenciaItem("Ministerio de Salud y protección social (MINSALUD). (2016). Manual metodológico de participación ciudadana.", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/RBC/manual-metodologico-de-participacion-ciudadana.pdf")

        +referenciaItem("Ministerio de Salud y protección social. (2016). Manual metodológico de participación ciudadana.", "https://www.minsalud.gov.co/Ministerio/Institucional/Procesos%20y%20procedimientos/GPSM02.pdf")

        +referenciaItem("Nuñez,L. (s.f). Sostenibilidad y actores sociales en la protección del medio ambiente. Argentina.", "http://biblioteca.clacso.edu.ar/ar/libros/cuba/cips/caudales05/Caudales/ARTICULOS/ArticulosPDF/0416N076.pdf")

        +referenciaItem("Rama legislativa. (2003).  Ley 85. Colombia.", "http://www.secretariasenado.gov.co/senado/basedoc/ley_0850_2003.html")

        +referenciaItem("Zabalata, Y. (2005). Los grupos focales como estrategia para recolectar información.", "http://www.espolea.org/uploads/8/7/2/7/8727772/ddt-gruposfocales.pdf")

        +referenciaItem("Zamalloa, E y Diaz, J. (2005). Manual 5 guías metodológicas para la gestión ambiental.", "https://www.academia.edu/25938537/Gu%C3%ADas_Metodol%C3%B3gicas_para_la_Gesti%C3%B3n_Ambiental")
        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            